.hello {
  color: #ff0000;
  img {
    display: block;
  }
}

table tbody:empty {
  height: 32px;
  width: 32px;
  margin:5px;
  background: url('../images/ajax-loader.gif');
  display: block;
}

.remove-link {
  color: darkred;
  padding: 0 5px;
  cursor: pointer;
}