doctype html
html
  head
    title Statistiky zahraničního obchodu
    if isProduction
      link(href="/build/app.css?v=#{version}" rel="stylesheet")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')

  body
    .navbar.navbar-default.navbar-static-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Statistiky zahraničního obchodu
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/') Úvod
            li
              a(href='/about') O aplikaci
            li
              a(href='/contact') Kontakt
  .container
    block content
  script(src='https://code.jquery.com/jquery-2.1.4.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js')

